In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/netflix-original-films-imdb-scores/NetflixOriginals.csv

In [2]:
df = pd.read_csv('/kaggle/input/netflix-original-films-imdb-scores/NetflixOriginals.csv',encoding='unicode_escape')

In [12]:
(df['Language'].value_counts(normalize=True) * 100).head(10)

Language
English       68.664384
Hindi          5.650685
Spanish        5.308219
French         3.424658
Italian        2.397260
Portuguese     2.054795
Indonesian     1.541096
Japanese       1.027397
Korean         1.027397
German         0.856164
Name: proportion, dtype: float64

In [35]:
df[~ (df['Language'].str.contains("/")) ]['Language'].apply(lambda x: 1 if x == 'English' else 0).value_counts()

Language
1    401
0    160
Name: count, dtype: int64

In [39]:
df['Language'].str.contains("/").value_counts()

Language
False    561
True      23
Name: count, dtype: int64

In [48]:
df[df['Language'].str.contains("/")].groupby('Genre',as_index=False)['Language'].agg({'count'})

              Genre  count
0  Action-adventure      1
1      Black comedy      1
2       Crime drama      1
3       Documentary     17
4             Drama      2
5         War drama      1

In [44]:
df['Language'][0].find("/")

7